asyncpg~=0.29.0
fastapi~=0.108.0
uvicorn~=0.25.0
# PostgreSQL adapter
psycopg2-binary~=2.9.5
#mariadb~=1.1.9
SQLAlchemy~=1.4.0
alembic~=1.13.1
python-multipart~=0.0.6
python-jose~=3.3.0
cryptography~=42.0.1
passlib~=1.7.4
bcrypt~=4.1.2
minio~=7.2.7

# dev
pytest~=7.4.0
httpx~=0.26.0